{% extends "layout.html" %}

{% block content %}
	{% for Post in posts %}
		<article class="post">
			<header>
				<h2><a href="{{ Post.title|slugify }}">{{ Post.title}}</a></h2>
				<time datetime="{{ Post.created }}" class="date">{{ Post.created|date:"d M"}}</time>
				<figure class="thumb">
					<img src={{ MEDIA_URL }}{{ Post.img }}>
				</figure>
			</header>
			
			{% autoescape off %}
				{{ Post.content|truncatewords:100}}
			{% endautoescape %}

			<footer>
				<p><a class"more" href="{{ Post.title|slugify }}">Leer más</a></p>
			</footer>						
		</article>
	{% endfor %}
{% endblock %}