<!DOCTYPE>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<title>Blog Proudplaces</title>
		<link rel="stylesheets" href="">
	</head>
	<body>
		<header>
			<h1>Blog Proudplaces</h1>
		</header>
		<section class="main_content">
			{% block content %}
				{% for Post in posts %}
					<article>
						<header>
							<h2>{{ Post.titulo }}</h2>
							<h3>{{ Post.img }}</h3>
							<figure>
								<img src="{{ Post.img }}">
							</figure>
						</header>

						{{ Post.contenido}}

						<p>{{ Post.creado }}</p>
					</article>
				{% endfor %}
			{% endblock %}
		</section>
	</body>